<div id="chatcontainer">

    <div id="textcontainer"></div>
    <div id="inputcontainer">
        <input type="text" name="textinput" id="textinputelement">
        <button id="sendbutton">Send</button>
    </div>

</div>