<div id="bigcontainer">
    <div id="inputcontainer">
        <input type="text" name="newchart" id="newchartinput">
        <button type="submit" id="newchartbutton">Add chart</button>
    </div>
    <div id="container" style="height: 400px; min-width: 310px">




    </div>

    <div id="chartcontainer"></div>
</div>
