<!DOCTYPE html>


<link href="/public/css/main.css" rel="stylesheet" type="text/css">

<body>
	<div class="container">
		<div class="github-profile">
			<img src="/public/img/gh-mark-32px.png" alt="github logo" />
			<form method="post">
				<input type="text" name="poll" maxlength="100" placeholder="Enter new poll name!">
				<button type="submit">Submit</button>
			</form>
		</div>
	</div>

	<script type="text/javascript" src="common/ajax-functions.js"></script>
	<script type="text/javascript" src="controllers/userController.client.js"></script>
</body>
