    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each images}}
            <div class="grid-item">
                <img src="{{this.url}}">
            </div>
        {{/each}}
    </div>