<div>

    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each user.urls}}
            <div class="grid-item">
                <img class="imageSrc" src="{{this.url}}">
                <div class="imageText">{{this.urlText}}</div>
                <button class="deletebutton btn btn-outline-success my-2 my-sm-0"" name="{{this.url}}">Delete</button>
            </div>
        {{/each}}
        <div class="grid-item form-item">
            <form method="post" action="/submiturl" class="form-control">
                <h3>Add New Image</h3>
                <input type="text" name="inputUrl" placeholder="Image URL" class="form-control mr-sm-2">
                <input type="text" name="inputText" placeholder="Image Description" class="form-control mr-sm-2">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Post</button>
            </form>
        </div>
    </div>
</div>