<div class="container mt-4 col-4">

    {{#if error}}
        {{#each error}}
            <div class="alert alert-warning">{{this.msg}}</div>
        {{/each}}
    {{/if}}
    <form method="POST">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input name="inputEmail" type="email" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input name="inputPassword" type="password" class="form-control" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input name="inputPasswordMatch" type="password" class="form-control" placeholder="Re-Enter Password">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>

</div>